
body {
    margin: 0 1% 0 1%;
}

nav {
    padding: 0;
    padding-top: 0.5%;
    background: #000033;
    justify-content: space-between;
    display: flex;
}

nav ul {
    justify-content: center;
    margin-bottom: 0;
}

nav ul li {
    margin-right: 1em;
    padding: 0.5em 1em;
}

nav ul li.active {
    background: #22ff58;
    border-radius: 5px;
}

nav ul li.active:hover {
    background: #22ff58;
    border-radius: 5px;
}

nav ul li:hover {
    background: #ff5500;
    border-radius: 5px;
}

nav ul li a:hover {
    text-decoration: none;
}

div.dropdown,
li.dropdown {
    margin: 0;
    padding: 0;
}

div.dropdown-menu {
    background: #000033;
}

div.dropdown-menu a.dropdown-item {
    border-bottom: 1px solid #007755;
}

div.dropdown-menu a.dropdown-item:hover {
    background: #ff5500;
    border-radius: 2px;
    margin: 1%;
}

div {
    margin: 0.1% 0 1em 0;
}

div.card {
    text-align: center;

}

div#projects h3 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1%;
}

div#projects div.card-body {
    display: flex;
    margin: 0;
    grid-template-areas:
        'main main main'
}

div#projects div.card-body div.card {
    grid-area: 'main'
}

footer a {
    color: aliceblue;
}

.hexagon-up{
    margin: 0;
    padding: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 24px solid #000;
    height: 0px;
    width: 0px;
}
.hexagon-center {
    width: 52px;
    height: 30px;
    background-color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}
.hexagon-bottom {
    margin: 0;
    padding: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-top: 24px solid #000;
    height: 0px;
    width: 0px;
}

ul#social-hex > li{
    margin: 0;
    padding: 0;
}

ul#social-hex > li:nth-child(even){
    padding: 0;
    margin: 0;
    margin-left: 26px;
    margin-top: -50px;
}
ul#social-hex > li:nth-child(3){
    margin: 0;
    padding: 0;
    margin-top: -50px;
}
/** Images effects hover **/

div.col img{
    width: 100%;
    position: relative;
    transition: transform .5s;
}

div.col img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
div.col > div.details{
    width: 90%;
    margin: 2%;
    position: absolute;
    background: rgba(0,0,0,.5);
    text-align: center;
}



